---
# this is an empty front matter
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.data.conference.short_title }} {{ site.data.conference.year }} | ACM MobiCom {{ site.data.conference.year }}</title>

    <!-- css -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body data-spy="scroll" data-target="#site-nav">
{% include header.html %}

<section id="organization" class="section faq" style="display: block;">
    <div class="container">

        <h3>Workshop Co-chairs</h3>
        {% for chair in site.data.chairs.general_chairs %}
            <div class="clearfix" style="margin-bottom:10px">
                <img src='img/committees/{{ chair.lastname }}.jpg' style="width:120px;float:left;margin-right:5px;">
                <p align='justify'>
                    <A HREF="{{ chair.link }}" target="_blank">{{ chair.firstname }} {{ chair.lastname }}</A><BR>
                    {{ chair.position }}<BR>
                    {{ chair.institution }}
                </p>
            </div>
        {% endfor %}

        <h3>Steering Committee</h3>
        {% for m in site.data.chairs.steering %}
            <div class="clearfix" style="margin-bottom:10px">
                <img src='img/committees/{{ m.lastname }}.jpg' style="width:120px;float:left;margin-right:5px;">
                <p align='justify'><A HREF="{{ m.link }}" target="_blank">{{ m.firstname }} {{ m.lastname }}</A><BR>
                {{ m.position }}<BR>
                {{ m.institution }}</p>
            </div>
        {% endfor %}

        <h3>Technical Program Committee</h3>
        TBA

    </div>
</section>

<!-- import navigation bar and header -->
<script src="//code.jquery.com/jquery.min.js"></script>

<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="smooth-scroll/dist/js/smooth-scroll.min.js"></script>
</body>
</html>
