---
# this is an empty front matter
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.data.conference.short_title }} {{ site.data.conference.year }} | ACM MobiCom {{ site.data.conference.year }}</title>

    <!-- css -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body data-spy="scroll" data-target="#site-nav">
    {% include header.html %}

    <section id="about" class="section about" style="display: block;">
        <div class="container">
            <h3 style="text-align:center;" class="section-title">{{ site.data.conference.title }}
            </h3>

            <p align="justify"><b>OVERVIEW:</b> The 1st ACM Workshop on Wireless and Mobile Computing for AgeTech (MobiCom4AgeTech) will be co-located with the <A HREF="https://www.sigmobile.org/mobicom/2024/">30th Annual International Conference on Mobile Computing and Networking (MobiCom {{ site.data.conference.year }})</A>. The workshop will be held on {{ site.data.conference.dates }} in Washington, D.C., USA and aims to bring together academic researchers, industry leaders, and government partners to present research and discuss challenges and opportunities at the intersection of wireless and mobile computing, AI and data analytics, and technologies for supporting aging. The workshop will include keynote presentations from aging and technology research experts, contributed paper presentations and demos, panel discussions, and presentations from research funders and commercialization partners. </p>
            
            <p align="justify">By 2060, it is estimated that nearly a quarter of the US population (over 95 million people) will be over the age of 65 and most will have multiple chronic conditions including cognitive impairment or dementia. The wireless and mobile computing research community has the potential to play a central role in the development of monitoring, assistive and interventional technologies for supporting healthy aging, an emerging area referred to as AgeTech. However, significant challenges exist</A> in the deployment of wireless and mobile sensing and computing technologies including AI-enabled and enhanced technologies intended to be used by older adults, caregivers, and clinicians. These <A HREF="https://www.nia.nih.gov/news/new-report-emerging-technologies-help-older-americans-maintain-independence">challenges include</A> improving accuracy, usability, access, and ensuring privacy and security while also decreasing bias and user burden. </p>
            

            <p id="listing" align="justify"><b>PROGRAM OUTLINE:</b>The program of {{ site.data.conference.short_title }} {{ site.data.conference.year }} will include the follow sessions (see <A HREF="cfp.html"> the Call for Papers</A> for details on contributing research papers, posters, and demos).</p>
<!--            TODO: Update this section-->
            <li>Keynote speeches from experts in aging and AgeTech.</li>
            <li>Contributed research paper presentations</li>
            <li>A panel session on funding AgeTech for research</li>
            <li>Contributed demos and posters</li>
            <br>

			{% if site.data.keynotes.size > 0 %}
            <p><b>Keynote Speakers:</b><br/>
						{% for keynote in site.data.keynotes %}
							{{ keynote.academic_title }} {{ keynote.firstname }} {{ keynote.lastname }}, {{ keynote.affiliation }}
						{% endfor %}
			{% endif %}

            <p align="justify"><b>VENUE:</b> The 1st ACM Workshop on Wireless and Mobile Computing for AgeTech (MobiCom4AgeTech) will be co-located with the <A HREF="https://www.sigmobile.org/mobicom/2024/">30th Annual International Conference on Mobile Computing and Networking (MobiCom 2024)</A>. The conference and workshop will be held at the <A HREF="https://www.hilton.com/en/hotels/dcashhh-capital-hilton/">Capital Hilton</A> in Washington D.C. </p>

            <p align="justify"><b>REGISTERING and ATTENDING:</b> Attendees will have the option to register for either the main conference and the workshop, or only the workshop. More details will be available when registration opens for the main conference. </p>

            <p id="listing" align="justify"><b>IMPORTANT DATES:</b><br/>
                <li>Research Paper submission: {{ site.data.dates.submission }}</li>
                <li>Research Paper acceptance notification: {{ site.data.dates.notification }}</li>
                <li>Research Paper camera ready: {{ site.data.dates.camera_ready }}</li>
                <li>Demo &amp; Poster abstract submission: {{ site.data.dates.poster_demo_submission }}</li>
                <li>Demo &amp; Poster notification: {{ site.data.dates.poster_demo_notification }}</li>
                <li>Workshop: {{ site.data.conference.dates }}</li>
            </p>

            <p align="justify"><b>SPONSORS:</b> 
			    {% for s in site.data.sponsors.all_sponsors %}
                    <A HREF="{{ s.link }}" TARGET="_blank"><img src='img/logos/{{ s.logo }}' style="width:120px;margin-right:5px;margin-left:5px;"></A>
			    {% endfor %}
            </p>


            <p align="justify"><b>CONTACT US:</b> For questions regarding {{ site.data.conference.short_title }}, please contact the workshop organizers at <a href="mailto:mobicom4agetech@gmail.com"><u>mobicom4agetech@gmail.com</a>.</p>

        </div><!-- /.container -->
    </section>

    <!-- import navigation bar and header -->
    <script src="//code.jquery.com/jquery.min.js"></script>

    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="smooth-scroll/dist/js/smooth-scroll.min.js"></script>
</body>
</html>
